body {
}
.title{
    color:#94078F;
    border:dotted;
    background-color:white;
    text-align:center;
    /*font-family: 'Margarine', cursive;*/
    /*font-family: 'Indie Flower', cursive;*/
    font-family: 'Oregano', cursive;
}

/*
font-family: 'Indie Flower', cursive;
font-family: 'Margarine', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Galindo', cursive;
font-family: 'Rubik Mono One', sans-serif;
*/

hr{
    color:#94078F;
    border-width:4px;
    border-style:solid;
}

.info{
    color:#94078F;
    /*font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-family:'Short Stack', cursive;
    font-size:24px;
    padding-right:600px;
    /*padding-bottom:50px;
    padding-top:50px;*/
}
.clickBox{
    display:inline;
    color:white;
    font-family:Andalus;
    border:outset;
    text-align:center;
    background-color:#359407;
    width:500px;
    height:100px;
}
body{
    background-color:#91E060;
    /*background-image:url('Images/Rainbow Background.jpg');
    background-size:contain;*/
   /*background-image:url('Images/gymnast-2-1428666-639x912.jpg');
   background-repeat:no-repeat;*/

}
a{
    color:white;
}
.photoImage{
    height:360px;
    width:480px;
    border:solid;
    color:#94078F;
    padding:10px;
    background-color:white;
}
.clickImage{
    opacity:0.4;
    padding:20px, 20px, 20px, 20px;
    position:relative;
}
.clickImage:hover{
    opacity:1.0;
}
.centered{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
